* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.numbers {
    border: 2px solid white;
    min-height: 65vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 150px;
}

.sponsor-and-settings{
    min-height: 35vh;
    display: flex;
}

.sponsor {
    background-color: rgb(0, 0, 112);
    color: white;
    font-size: xx-large;
    min-width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.upper-section {
    min-width: 35vw;
    min-height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display-btn {
    background-color: rgb(221, 221, 9);
    padding: 15px;
    border: none;
    border-radius: 50%;
}

.lower-section {
    min-height: 27vh;
    display: flex;
}

.in-and-out-fields{
    min-width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-fields {
    width: 100px;
    height: 38px;
    background-color: transparent;
    color: red;
    font-family: 'Cursed Timer ULiL', sans-serif;;
    border: 2px solid white;
    padding: 2px 2px;
}

.input-field-btn {
    border: none;
    width: 60px;
    padding: 11px 15px;
    background-color: rgb(187, 187, 0);
}

.buttons-of-numbers{
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px solid white;
    color: white;
    background-color: transparent;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
}